.header_line {
    background-image: url("imgs/grassfon3.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    height: 91px;
    width: 1503px;
    display: flex;
}
.menu {
    background-color: #146c1a;
    height: 40px;
    width: 1503px;
}
.menu-nav {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: white;
    padding-left: 300px;
    text-decoration: none;
}
.header_img {
    padding-left: 100px;
    padding-top: 13px;
}
.icon {
    width: 48px;
    height: 48px;
}
.logo {
    width: 80px;
    height: 80px;
    margin-left: 350px;
    margin-top: 5px;
}
.text_form{
    padding-left: 22px;
    padding-top: 24px;
}
.search-form_txt {
    background-color: #2d4131;
    border-radius: 20px;
    height: 47px;
    width: 835px;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}
.main {
    display: flex;
}
.main_pages {
    background-color: #e1f387;
    height: 600px;
    width: 486px;
    margin-left: 200px;
}
.main_pages2 {
    background-color: #d1e377;
    height: 600px;
    width: 486px;
    margin-left: 140px;
}
.main_pages-a {
    padding-top: 100px;
}
.main_pages-text {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    color: #000000;
    padding-left: 50px;
}
body {
    background-color: #ffffff;
}
.main_text-a {
    font-family: 'Oranienbaum', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    color: #000000;
    padding-top: 50px;
    text-align: center;
}
.main_all-text {
    background-color: #f0f0f6;
    height: 271px;
    width: 1044px;
    margin-left: 20px;
}
.main_all-text-2 {
    background-color: #f0f0f6;
    height: 271px;
    width: 1044px;
    margin-top: 20px;
    margin-left: 20px;
}
.head_text {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    word-spacing: 3px;
}
.main_img {
    width: 313px;
    height: 210px;
    margin-left: 20px;
    margin-top: 6px;
    border: 5px solid white;
}
.main_cont {
    display: flex;
}
.main_head-text {
    padding-top: 3px;
    text-align: center;
}
.main_pages-img {
    width: 350px;
    height: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    border: 5px solid white;
}
